@import "main.css";
.logo img {
	width: 200px;
	display: block;
	float: left;
}
.zagolovok h2,h3 {
	text-align: center;
    font-size: 35px;
    padding-top: 15px; 

}
.dropdown-menu li a:hover {
	background: orange;
}

header.navbar .nav>li>a:hover {
    background: transparent;
    color: orange;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
header.navbar .nav>li.active>a, header.navbar .nav>li.active>a:hover {
    background: transparent;
    color: orange;
    font-weight: bold;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
}
header.navbar .nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #333;
    font-weight: bold;
    font-family: "Fjalla One";
    font-size: 16px;
    text-transform: uppercase;
    text-shadow: none;
}
header.navbar .nav>li.dropdown.open>a.dropdown-toggle {
    background: transparent;
    color: orange;
}
.navbar .nav>li>a:focus, .navbar .nav>li>a:hover {
    color: black; 
}
.title {
    background: orange;
    color: #fff;
    padding: 20px 0;
}
a {
    color: black;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}
a:hover {
    color: orange;
}
.navbar .nav>li>a {
    float: none;
    padding: 0px 15px 10px;
    color: #777777;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
}
.collection-text {
    margin-left: 160px;
    line-height: 25px;
}
#services {
   background: #FF8C00;
   color: black; 
}
#recent-works {
    background-color: #1E90FF;
}
.desc h5 {
    font-size: 14px;
}
.desc a {
    color: white;
    text-align: center;
}
.desc a:hover {
    color: #FFFF00;
}
.pull-left {
    font-size: 20px;
}
.clearfix h4 {
    color: #9ACD32;
}
/*SLIDER*/
.sl-slide-horizontal .sl-slide-inner {
    background: #E67E22;
}
.sl-slide-vertical .sl-slide-inner {
    background: #3498DB;
}
.item3 .sl-slide-inner {
    background: green;
}
/*MAIN-INFO*/
.main-info {
     background-color: #B0E0E6;
}
body>section {
    padding: 0;
}
.item {
    margin-bottom: 50px;
    margin-top: 50px;
}
.clearfix h4 {
    margin-top: 50px;
}
#bottom h4 {
    margin-top: 50px;
    margin-bottom: 15px;
}
#bottom {
    padding-bottom: 50px;
}
.main-info {
    padding-top: 50px;
    
}
#services {
    margin-top: 50px;
}
.center h4 {
    font-size: 30px;
    color: orange;
    font-weight: bold;
}
.center p {
    font-size: 20px;
    color: black;
}
.collection-item-text p { 
    text-align: justify;
    margin-left: 1em;
    margin-right: 1em;
    font-family: inherit;
    font-size: 17px;
    font-style: inherit;
    font-weight: inherit;
    padding: 4px;
}
.text {
    margin-left: 10em;
    font-style: inherit;
    font-family: inherit;
   
} 
.collection-item-text h5 {
    text-align: center;
    font: 30px "franklin gothic medium"; 
    font-family: inherit;
    font-style: inherit;
    padding-top: 10px;
}
.gap {
     margin-bottom: 0; 
}
.photo img {
   padding: 1.5em;
}
#services h5 {
    color: black;
}

.nav-arrows {
     position: relative;
}
#clients h4 {
    color: orange;
    font-weight: bold;
    font-size: 19px;
}
#clients p {
    font-size: 17px;
}
.wow {
    text-align: center;
}
