@import "main.css";
.logo img {
	width: 200px;
	display: block;
	float: left;
}
.zagolovok h2,h3 {
	text-align: center;
    font-size: 35px;
    padding-top: 15px; 

}
.dropdown-menu li a:hover {
	background: orange;
}

header.navbar .nav>li>a:hover {
    background: transparent;
    color: orange;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
header.navbar .nav>li.active>a, header.navbar .nav>li.active>a:hover {
    background: transparent;
    color: orange;
    font-weight: bold;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
}
header.navbar .nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #333;
    font-weight: bold;
    font-family: "Fjalla One";
    font-size: 16px;
    text-transform: uppercase;
    text-shadow: none;
}
header.navbar .nav>li.dropdown.open>a.dropdown-toggle {
    background: transparent;
    color: orange;
}
.navbar .nav>li>a:focus, .navbar .nav>li>a:hover {
    color: black; 
}
.title {
    background: orange;
    color: #fff;
    padding: 20px 0;
}
a {
    color: black;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}
a:hover {
    color: orange;
}
.navbar .nav>li>a {
    float: none;
    padding: 0px 15px 10px;
    color: #777777;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
}
.photo img {
    border-radius: 5px;
}
.collection-text {
    margin-left: 160px;
    line-height: 25px;
}
#services {
   background: #FF8C00;
   color: black; 
}
#recent-works {
    background-color: #1E90FF;
}
.desc h5 {
    font-size: 13px;
}
.desc a {
    color: white;
}
.desc a:hover {
    color: #FFFF00;
}
.pull-left {
    font-size: 20px;
}
.clearfix h4 {
    color: #9ACD32;
}
/*MAIN-INFO*/
.main-info {
     background-color: #DCDCDC;
}
.collections {
    overflow: auto;
    margin-top: 5px;
}
.collections-title-item {
    padding-bottom: 5px;
    color: black;
    font-size: 36px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}
.collections-item-outer {
    display: inline-block;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    width: 33.33%;
    box-sizing: border-box;
}
.collections-item {
    border: 2px solid #959595;
}
.collections-text {
    padding: 0 20px 20px 20px;
}
.collections-text h3 {
    color: #0000CD;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    font: 35px "franklin gothic medium";
}
.collections-text p {
    height: 200px;
    overflow: hidden;
    text-align: left;
    color: black;
     font: 25px "franklin gothic medium";
}
.cinnisti {
    margin-left: 0;
     font: 25px "franklin gothic medium";
     color: black;
     height: 200px;
     margin-left: 10px;
     line-height: 5px;
}
