.saitbar ul {
 	margin-left: 0;
 	padding-left: 0;
 	float: right;
 	margin-top: 2%;
 	margin-right: 3%;
}
.saitbar li {
	 list-style-type: none;
}
.main {
	margin-top: 200px;
}
.text p {
	margin-top: 170px;
}
.saitbar a{
	font-size: 16px;
}
.img1 img{
	padding: 1%;
	width: 10%;
}
.dopinf{
	float: right;
	margin-right: 13%;
}
.dopinf h3{
	font-size: 16px;
	float: right;
	margin-right: 0.009%;
}
.dopinf li{
	 list-style-type: none;
}