.faq p {
margin-top: 2%;
font-size: 16px;
text-align: center;
}
.faq img {
	width: 800px;
	border: 2px solid black;
	border-radius: 25px;
}
.container ul {
	float: right;
	
}
.faq{
	display: block;
	width: 700px;
}
.saitbar ul {
 	text-decoration: none;
}