.faq p {
margin-top: 2%;
font-size: 16px;
text-align: center;
}
.faq img {
	width: 800px;
	border: 2px solid black;
	border-radius: 25px;
	float: left;
	position:absolute;
	margin-top: 10px;
}
.faq{
	display: block;
	width: 700px;
}
.saitbar ul {
 	margin-left: 0;
 	padding-left: 0;
 	float: right;
 	margin-top: 2%;
 	margin-right: 3%;
}
.saitbar li {
	 list-style-type: none;
}
.main {
	margin-top: 200px;
}
.text p {
	margin-top: 170px;
}
.saitbar a{
	font-size: 16px;
}