/* GENERAL STYLES*/
h1 {
	color: red;
	text-align: center;
}
ul, li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
.container {
	margin: 0 auto;
	width: 960px;
}
.page-navigation {
	background-color: orange;
	color: black;
	min-height: 64px;
}
.page-navigation li {
	float: left;
	width: 100px;
}
.page-navigation a {
	display: block;
	color: black;
	line-height: 4em;
	font-weight: bold;
	text-align: center;
}
.page-navigation li a:hover {
	color: yellow;
	background-color: black;
}